/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: block;
  position: relative;
  color: var(--White);
  padding: 0.625rem 0.938rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 1.875rem);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 0.625rem 0;
  background: var(--White);
  -webkit-box-shadow: 0 0 6.25rem #6600ff38;
  box-shadow: 0 0 6.25rem #6600ff38;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.nav-menu .drop-down li {
  min-width: 11.25rem;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: none;
  color: #00000090;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #6600ff;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 0.313rem;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 1.875rem);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 2.188rem;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  position: absolute;
  right: 0.938rem;
}
